[Unit]
Description=sticker factory
After=network.target

[Service]
ExecStart=/bin/bash -c '/home/pi/.local/bin/uv run stikka.py'
WorkingDirectory=/home/pi/stikka-NG
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target